{% extends 'SuperAdminNavbar.html' %}
{% load crispy_forms_tags %}
{% load materializecss %}
{% load static %}
{% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                   <h1 align="center">Change Password</h1>
                    {{ form|materializecss }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update Password</button>
                </div>

            </form>
        </div>
{% endblock content %}
